body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    background-image:url('stripe.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}


ul {
    margin: 0;
}


    .bg-steel {
        background-image: linear-gradient(to right ,#c33764,#1d2671);
    }
    
    .site-header .navbar-nav .nav-link {
        color: #cbd5db;
    }
    
        .site-header .navbar-nav .nav-link:hover {
            color: #ffffff;
        }
        .site-header .navbar-nav .nav-link.active {
            font-weight: 500;
            
    
        }
    .nav-item{
        font-weight: 500;
        color: #b12424;
    
    }
    .abc{
        color: #e9e9e9 !important ;
    }
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #c9c8c8;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: 5px 3px 9px 0px #c9c7c7;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 68px;
    width: 68px;
    margin-right: 16px;
    border: solid white !important;
    box-shadow: 0 0 4px 0px #5e8797 !important;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

    .article-metadata a:hover {
        color: #333;
        text-decoration: none;
    }

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 120px;
    width: 120px;
    margin-right: 20px;
    margin-bottom: 16px;
    border: 3px solid white !important;
    box-shadow: 0 0 6px 0px #5e8797 !important;
    margin-top:10px;
}

.account-heading {
    font-size: 2.5rem;
}

.comment {
    margin: 20px 0px 20px 60px;
    border-left: 7px solid #f19191;
    border-radius: 7px;
    border-bottom: 1px solid #e2dcdc;
    border-top: 1px solid #e2dcdc;
    border-right: 1px solid #e2dcdc;
    background-color: #ffffff !important;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}



element.style {
    grid-area: top / start / 8 / end;
}

.Box-root {
    box-sizing: border-box;
}

.Flex-flex {
    display: -ms-flexbox;
    display: flex;
}

.Box-background--blue800 {
    background-color: #212d63;
}

.Box-background--cyan200 {
    background-color: #7fd3ed;
}

.Padding-top--64 {
    padding-top: 64px;
}

.Box-background--blue {
    background-color: #5469d4;
}

.Box-divider--light-all-2 {
    box-shadow: inset 0 0 0 2px #e3e8ee;
}

.Box-background--gray100 {
    background-color: #e3e8ee;
}



user agent stylesheet
div {
    display: block;
}








user agent stylesheet
html {
    color: -internal-root-color;
}

