{% extends "blog/base.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-7">

           {% for u in user %}            
        
            <h1 class="mb-3">Post </h1>
            {% endfor %}

            {% for post in posts %}
            <article class="media content-section">
                <img class="rounded-circle mt-2 article-img" src="{{ post.author.profile.image.url }}" />

                <div class="media-body">

                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                        <small class="text-muted">{{ post.date_posted }}</small>
                        <p> Comments: {{ post.answers.count }}</p>
                        {{ post.mode }}
                    </div>
                    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                    <img class=" mt-2 img imgb" src="{{ post.image.url }}" />
                    <p class="article-content">{{ post.blog }}</p>
                </div>
            </article>

            {% endfor %}
         

    </div>
        
      
</div>
          
            {% endblock content %}
